#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    overflow: hidden;
}

main {
    padding: 4rem;
    overflow: auto;
    margin-left: auto;
    height: 100vh;

    .main-container {

        max-width: 33rem;
    }

    .back {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        margin-bottom: 1.5rem;
    }

    h1 {
        font: 600 2rem/125% var(--font-family);
        margin-bottom: 0.5rem;
    }

    p {
        font: 400 1rem/150% var(--font-family);
        color: var(--text-secondary);
    }
}

aside {
    background: var(--surface-secondary);
    padding: 4rem;

    .aside-container {
        max-width: 31rem;

        img {
            margin-top: 2rem;
        }
    }


    h1 {
        font: 600 2.5rem/125% var(--font-family);
        margin-block: 0.5rem;

        span {
            color: var(--text-highlight);
        }

    }
}