.primary {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.secondary {
    justify-content: space-between;
    padding-block: 14px;
    border-block: 1px solid var(--stroke-color);
}